.page {
	display: grid;
	grid-template-columns: auto;
	padding: 1em;
	gap: 1em;
}

.page p, .page h1, .page h2, .page h3, .page ul {
	margin: 0;
}

.main {

}

.title {
	font-size: 2em;
}

.description {
	font-size: 1em;
}

.description span {
	color: var(--color-primary);
	font-weight: bold;
	cursor: pointer;
}

.models {
	margin-top: 1em;
}

.modelButtons {
	display: flex;
	gap: .4em;
	align-items: center;
	margin-top: .4em;
}

.modelButtons button {
	all: unset;
	padding: .4em 1em;
	border-radius: 10em;
	background: #474747;
	color: var(--color-background);
	cursor: pointer;
}

.modelButtons button.active {
	background: #1d1d1f !important;
}

.modelButtons span {
	font-size: 1.5em;
	font-weight: 600;
}

.loadButton {
	background: var(--color-primary) !important;
}

.cached {
	display: flex;
	flex-direction: column;
	margin-top: .4em;
}

.uploadSection {
	display: grid;
	padding: 2em 4em;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 30em;
	gap: 4em;
}

.croppedImage {
	height: 100%;
	width: 100%;
	margin: auto;
	align-content: center;
	text-align: center;
	object-fit: contain;
}

.predictSection {
	margin-bottom: 10em;
}

.predict {
	display: flex;
	gap: 1em;
	margin-top: 1em;
	align-items: center;
}

.predict select {
	padding: .6em 1em;
	border-radius: .6em;
}

.predict button {
	all: unset;
	cursor: pointer;
	padding: .6em 1.2em;
	border-radius: 10em;
	background: var(--color-detail);
	font-weight: 600;
}

.predict button.disabled {
	background: #959595;
	cursor: not-allowed;
}

.resultWrapper {
	display: none;
	padding: 2em 4em;
	/*grid-template-columns: 1fr 1fr;*/
	/*gap: 4em;*/
	justify-content: center;
}

.resultWrapper.open {
	display: grid;
}

.result {
	display: grid;
	grid-template-rows: 30em 2em auto;
	gap: .6em;
	justify-items: center;
}

.result canvas {
	height: 100%;
}

.angleWrapper {
	display: grid;
	gap: .4em;
}

.angleBar {
	display: grid;
	gap: 2em;
	grid-template-columns: 1fr minmax(12em, auto);
}

.angleBar strong {
	display: grid;
	grid-template-columns: auto auto;
	gap: .4em;
	align-items: center;
}

.angleBar span {
	display: grid;
	grid-template-columns: 2em 1fr 2em;
	gap: .4em;
	align-items: center;
}

.angleBackground {
	position: relative;
	height: .5em;
	margin-top: .2em;
	background: #FF0000;
	background: linear-gradient(90deg,rgba(255, 0, 0, 1) 0%, rgba(219, 219, 0, 1) 15%, rgba(0, 168, 0, 1) 40%, rgba(0, 168, 0, 1) 60%, rgba(219, 219, 0, 1) 85%, rgba(255, 0, 0, 1) 100%);
	border-radius: .4em;
}

.angleBackground div {
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: .8em;
	height: .8em;
	background: #000;
	border-radius: 50%;
}

.rangeText {
	font-size: .8em;
	color: var(--color-secondary);
	margin-top: .2em;
}

.rightModal {
	position: fixed;
	width: 25em;
	right: 1em;
	height: calc(100vh - 5em - 2em - 2em);
	background: var(--color-background);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 0 auto;
	padding: 1em;
	border: 1px solid black;
	border-radius: 1em;
}

.rightModal > h2 {
	font-size: 2em;
}

.rightModal h3 {
	font-size: 1.4em;
}

.rightModal p {
	margin: .5em 0;
}

.examplePicture {
	width: 100%;
	height: auto;
	border-radius: 1em;
}

.rightModal .cross {
	position: absolute;
	top: 1em;
	right: 1em;
	cursor: pointer;
}

.openTutorial {
	position: fixed;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
	background: #fff;
	padding: 1.5em 0.4em;
	writing-mode: vertical-rl;
	text-orientation: upright;
	border-top-left-radius: 1em;
	border-bottom-left-radius: 1em;
	border: 2px solid rgba(0, 0, 0, 0.35);
	border-right-width: 0;
	font-weight: 600;
	cursor: pointer;
}
