.header {
	position: fixed;
	top: 0;
	left: 0;
	width: calc(100% - 2em);
	height: 5em;
	background: var(--color-background);
	padding: 0 1em;
	z-index: 10;
}

.header nav {
	display: flex;
	justify-content: space-between;
	height: 100%;
}

.header div {
	display: flex;
	gap: 2em;
	align-items: center;
}

.header a {
	color: var(--color-text);
	font-size: 1.3em;
	text-decoration: none;
}

.headerTitle {
	font-size: 2em !important;
	font-weight: 600;
}

.headerButton {
	background-color: var(--color-primary);
	padding: .6em 1em;
	border-radius: 10em;
	color: #fff !important;
}

.main {
	margin-top: 5em;
}